<a href="https://colab.research.google.com/github/anastasiiaf/ibm_data_engineering/blob/main/API_Engineer_Peer_Review_Assignment_Extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=e85a0535fbb90ed957531cbc0e556553"  #Make sure to change ******* to your API key.
response = requests.get(url)
print(response.content)

b'{"success":true,"timestamp":1648417756,"base":"EUR","date":"2022-03-27","rates":{"AED":4.033986,"AFN":96.760577,"ALL":122.015508,"AMD":538.261956,"ANG":1.985401,"AOA":500.397579,"ARS":121.900419,"AUD":1.46237,"AWG":1.977452,"AZN":1.870122,"BAM":1.955437,"BBD":2.224354,"BDT":95.043422,"BGN":1.95553,"BHD":0.415317,"BIF":2259.456465,"BMD":1.09828,"BND":1.4938,"BOB":7.57378,"BRL":5.204033,"BSD":1.101679,"BTC":2.3610596e-5,"BTN":83.874264,"BWP":12.618967,"BYN":3.58798,"BYR":21526.279084,"BZD":2.220554,"CAD":1.370944,"CDF":2210.836905,"CHF":1.022114,"CLF":0.031508,"CLP":869.409486,"CNY":6.991974,"COP":4171.862592,"CRC":718.525772,"CUC":1.09828,"CUP":29.104408,"CVE":110.242871,"CZK":24.615135,"DJF":196.120633,"DKK":7.438642,"DOP":60.413873,"DZD":156.498586,"EGP":20.384292,"ERN":16.474199,"ETB":56.568345,"EUR":1,"FJD":2.287662,"FKP":0.842335,"GBP":0.833001,"GEL":3.524883,"GGP":0.842335,"GHS":8.06948,"GIP":0.842335,"GMD":59.411392,"GNF":9855.221786,"GTQ":8.471,"GYD":230.493734,"HKD":8.597788,"HNL":27.042572,"HRK":7.576372,"HTG":115.873741,"HUF":372.579804,"IDR":15768.438741,"ILS":3.53108,"IMP":0.842335,"INR":83.7828,"IQD":1607.837263,"IRR":46457.224789,"ISK":142.600947,"JEP":0.842335,"JMD":168.803117,"JOD":0.778645,"JPY":134.028568,"KES":126.412526,"KGS":104.600582,"KHR":4458.305096,"KMF":491.864732,"KPW":988.451975,"KRW":1345.886864,"KWD":0.334042,"KYD":0.918016,"KZT":542.961013,"LAK":12842.322193,"LBP":1665.865615,"LKR":319.466574,"LRD":168.09164,"LSL":15.979776,"LTL":3.242934,"LVL":0.664339,"LYD":5.140568,"MAD":10.669358,"MDL":20.187448,"MGA":4455.005758,"MKD":61.602635,"MMK":1958.870501,"MNT":3161.697271,"MOP":8.881317,"MRO":392.085609,"MUR":48.810202,"MVR":16.907395,"MWK":899.985348,"MXN":22.000571,"MYR":4.624312,"MZN":70.103757,"NAD":15.979794,"NGN":456.609183,"NIO":39.400091,"NOK":9.463375,"NPR":134.199063,"NZD":1.579554,"OMR":0.422825,"PAB":1.101579,"PEN":4.117374,"PGK":3.881721,"PHP":57.231471,"PKR":200.745205,"PLN":4.687936,"PYG":7668.960629,"QAR":3.998821,"RON":4.949012,"RSD":117.626389,"RUB":112.024685,"RWF":1119.565272,"SAR":4.119972,"SBD":8.825102,"SCR":15.831669,"SDG":490.930739,"SEK":10.347227,"SGD":1.491403,"SHP":1.512769,"SLL":13020.104068,"SOS":642.493142,"SRD":22.710197,"STD":22732.169166,"SVC":9.639065,"SYP":2758.878588,"SZL":16.050778,"THB":36.881876,"TJS":14.326724,"TMT":3.854961,"TND":3.24324,"TOP":2.469983,"TRY":16.292953,"TTD":7.493496,"TWD":31.502387,"TZS":2555.786983,"UAH":32.525771,"UGX":3965.903934,"USD":1.09828,"UYU":46.637639,"UZS":12679.314913,"VEF":234845359316.5108,"VND":25110.514379,"VUV":125.331932,"WST":2.879739,"XAF":655.825358,"XAG":0.043041,"XAU":0.000561,"XCD":2.968155,"XDR":0.79934,"XOF":655.825358,"XPF":119.712552,"YER":274.844534,"ZAR":15.975261,"ZMK":9885.836628,"ZMW":19.636658,"ZWL":353.645565}}'

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# Turn the data into a dataframe
d = response.json()
data = pd.json_normalize(d)

data.head()

,success,timestamp,base,date,rates.AED,rates.AFN,rates.ALL,rates.AMD,rates.ANG,rates.AOA,...,rates.XAU,rates.XCD,rates.XDR,rates.XOF,rates.XPF,rates.YER,rates.ZAR,rates.ZMK,rates.ZMW,rates.ZWL
0,True,1648417756,EUR,2022-03-27,4.033986,96.760577,122.015508,538.261956,1.985401,500.397579,...,0.000561,2.968155,0.79934,655.825358,119.712552,274.844534,15.975261,9885.836628,19.636658,353.645565

In [5]:
# Drop unnescessary columns
data.drop(columns=['success','timestamp', 'base', 'date'], inplace=True)
data = data.transpose()
data

                     0
rates.AED     4.033986
rates.AFN    96.760577
rates.ALL   122.015508
rates.AMD   538.261956
rates.ANG     1.985401
...                ...
rates.YER   274.844534
rates.ZAR    15.975261
rates.ZMK  9885.836628
rates.ZMW    19.636658
rates.ZWL   353.645565

[168 rows x 1 columns]

In [6]:
data.reset_index(inplace=True)
data.replace(to_replace=r'rates.', value='', regex=True, inplace=True)
data

    index            0
0     AED     4.033986
1     AFN    96.760577
2     ALL   122.015508
3     AMD   538.261956
4     ANG     1.985401
..    ...          ...
163   YER   274.844534
164   ZAR    15.975261
165   ZMK  9885.836628
166   ZMW    19.636658
167   ZWL   353.645565

[168 rows x 2 columns]

In [7]:

data.rename(columns={'index':'Currency', 0:'Rates'}, inplace=True)
data.set_index('Currency', inplace=True)
#data.rename(columns={0:'Rates'}, index={'index':'Currency'}, inplace=True)
data

                Rates
Currency
AED          4.033986
AFN         96.760577
ALL        122.015508
AMD        538.261956
ANG          1.985401
...               ...
YER        274.844534
ZAR         15.975261
ZMK       9885.836628
ZMW         19.636658
ZWL        353.645565

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [8]:
data.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).